p {font-size: 10pt;}
strong { text-decoration:underline;}
#CSS {font-family: "휴면옛체"; font-size: 20pt; color: blue;}
#STYLE {font-family: "휴먼매직체"; font-size:20pt; color: red; text-decoration:underline;}