.wrap {width: 715px;min-height:600px;}
header {height: 80px;}
header span{font-size: 15px;}
nav {width: 715px;}
nav a {height: 20px;}
footer {height: 100px;}
footer #copyright {font-size: 12px;}


#login fieldset span {width: 80px;}
#signup fieldset span {width: 90px;}
#order table td, th { width: 150px; height:30px;}

.booklist {height: 462px;}
.booklist ul li {width: 150px; height:180px;}
.booklist ul li img { height: 120px;}

